*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,p{
  margin: 0;
}

a{
  text-decoration: none;
  font-family: inherit;
}
.container{
  padding: 2rem;
}
header{
  background-color: steelblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.site-logo{
  font-size: 2rem;
  font-weight: 700;
  color: bisque;
}
.create-btn{
  padding: .5rem;
  border: 2px solid whitesmoke;
  color: bisque; 
}
.create-btn:hover{
  border: 3px solid whitesmoke;
}


/* 
HOMEPAGE 
*/

.homepage{
  display: flex;
  flex-wrap: wrap;
  transition: .3s;
}

.homepage.dark, .create-container.dark, .container.dark{
  background-color: #3d5a80;
  color: #98c1d9;
}
.dark, .dark .recipe--title, .dark .recipe--info{
  color: whitesmoke;
}

.dark .recipe-list .card:hover {
  box-shadow: whitesmoke 0 0 0 3px, transparent 0 0 0 0;
}
.dark .btn{
  border: 1px solid whitesmoke;
}
